---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

{% include base_path %}

{% if site.talkmap_link == true %}
<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>
{% endif %}

{% assign group = site.talks | sort: "date" %}
{% assign count = group.size %}
{% for post in group reversed %}
  {% assign idx = count | minus: forloop.index | plus: 1 %}
<p>[{{ idx }}] {{ post.title }}. {{ post.type }}, {{ post.venue }}{% if post.location %}, {{ post.location }}{% endif %}, {{ post.date | date: "%B %-d, %Y" }}. {% if post.link %}[<a href="{{ post.link }}" target="_blank" rel="noopener">Link</a>]{% endif %} [<a href="{{ base_path }}{{ post.url }}">More</a>]</p>
{% endfor %}
